.item1 { grid-area: header; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main right right'
    'footer footer footer footer footer footer';
  gap: 10px;
  background-color: #ffffff;
  padding: 0px 0px 0px 0px;
  margin: 0px;
}

.grid-container > div {
  background-color: rgb(255, 255, 255);
  text-align: center;
  padding: 0px;
  font-size: 30px;
  color: rgb(0, 0, 0);
  margin: 0px;
}

#header {
    background-color: rgb(174, 0, 0);
    margin: 0px;
    text-align: right;
    padding: 20px 0;
    font-size: 30px;
    color: rgb(255, 255, 255);
  }

  #nav {
    background-color: rgb(66, 66, 66);
    margin: 0px;
    text-align: right;
    padding: 20px 0;
    font-size: 30px;
    color: rgb(255, 255, 255);
  }

  #main {
    background-color: rgb(255, 255, 255);
    text-align: left;
    padding: 20px 0;
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }

  #attractions {
    background-color: rgb(255, 255, 255);
    text-align: left;
    margin: 20px;
    padding: 20px 0;
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }

  #footer {
    background-color: rgb(55, 55, 55);
    text-align: right;
    padding: 20px 0;
    font-size: 20px;
    color: rgb(255, 255, 255);
  }